html {

    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

hr{
    margin: 0 auto;
    width: 95%;
}
h1 {
    border-bottom: 1px solid #ffffff;


}
h3 {
    border-bottom: 1px solid #ffffff;


}
#inhaltsverzeichnis {
    text-align: center;
    border-bottom: 0px solid #ffffff;
}
.code {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 90%;
}
.inhaltsverzeichnis {
            background-color: #1D1D1D;
            margin-right: 1280px;
            border: 1px solid;
	        padding: 0px 0px 0px 0px;
            border: 1px solid #1D1D1D;
            border-radius: 8px;
}
.code,
.verschachtelungvonelementencode,
.Testc1,
.Testc2 {
            background-color: #1D1D1D;
            border: 1px solid;
            border: 1px solid #1D1D1D;
            border-radius: 8px;
            border: 1px solid #1D1D1D;
            padding: 1em;
}
.verschachtelungvonelementencode {
    background-color: #1D1D1D;
    border: 1px solid;
    border: 1px solid #1D1D1D;
    border-radius: 8px;
    border: 1px solid #1D1D1D;
    padding: 1em;
}
ol {
	counter-reset: table-of-content;
	list-style-type: none;
}

li::before {
	counter-increment: table-of-content;
	content: counters(table-of-content, ".", decimal) " ";
	color: rgb(255, 255, 255);
	font-weight: bold;
}

li li::before {
	color: rgb(255, 255, 255);
}
