@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
html {

    font-family: 'Roboto', Verdana, Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',Verdana, Helvetica, Arial, sans-serif;
  }
.verpackung{
    display: flex;
    position: relative;
  }
  
  .verpackung .seitenleiste{
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0px;
    position: fixed;
  }
  
  .verpackung .seitenleiste h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .verpackung .seitenleiste ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .verpackung .seitenleiste ul li a{
    color: #bdb8d7;
    display: block;
  }
  
  .verpackung .seitenleiste ul li a .fas{
    width: 25px;
  }
  
  .verpackung .seitenleiste ul li:hover{
    background-color: #594f8d;
  }
      
  .verpackung .seitenleiste ul li:hover a{
    color: #fff;
  }
   
  .verpackung .seitenleiste .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .verpackung .seitenleiste .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .verpackung .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .verpackung .main_content .header{
    padding: 20px;
    background: #121212;
    color: #ffffff;
    border-bottom: 1px solid #e0e4e8;
  }
  
  .verpackung .main_content .info{
    margin: 20px;
    color: #ffffff;
    line-height: 25px;
  }
  
  .verpackung .main_content .info div{
    margin-bottom: 20px;
  }
body {
	position: relative;
	margin: 0em auto;

}

hr{
    margin: 0 auto;
    width: 95%;
}
h1 {
    border-bottom: 1px solid #ffffff;


}
h3 {
    border-bottom: 1px solid #ffffff;


}
#inhaltsverzeichnis {
    text-align: center;
    border-bottom: 0px solid #ffffff;
}
.inhaltsverzeichnis {
            background-color: #1D1D1D;
            border: 1px solid;
	          padding: 20px 0px 15px 20px;
            border: 1px solid #1D1D1D;
            border-radius: 8px;
}
.ElementeundTagsdiv,
.verschachtelungvonelementencode,
.Test1div,
.Test2div,
.TagP,
.TagUL,
.Tagdiv,
.TagTable,
.TagA,
.TagI,
.TagB,
.TagCode,
.TagImg,
.TagPicture {
  background-color: #1D1D1D;
  border-radius: 8px;
  border: 1px solid #1D1D1D;
  padding: 1em;
  padding: 20px;
}

.verschachtelungvonelementencode {
    background-color: #1D1D1D;
    border: 1px solid;
    border: 1px solid #1D1D1D;
    border-radius: 8px;
    border: 1px solid #1D1D1D;
    padding: 1em;
}

ol {
	counter-reset: table-of-content;
	list-style-type: none;
}

ol li::before {
	counter-increment: table-of-content;
	content: counters(table-of-content, ".", decimal) " ";
	color: rgb(255, 255, 255);
	font-weight: bold;
	color: rgb(255, 255, 255);
}

/* Navigation list soll keinen list-style-type haben. */
ul:not(#navigation) {
  list-style-type: disc;
  margin-left: 20px;
}

ol ol, ul ul {
  margin-left: 2em;
}

figcaption {
  padding: .8em;
  margin-left: 250px;
}
a:link, a:visited, a:active {
  color: rgb(255, 255, 255);
}
a:hover {
  color: aqua;
}
.fa-Navigation:hover {
  background-color: #594F8D;
  padding: 32px 30px 31px 31px;
}
.Farberot {
  color: #79c0ff ;
}

/* Input */
.Textdiv,
.Submit-Buttondiv,
.Targetattributediv {
  background-color: #1D1D1D;
  border-radius: 8px;
  border: 1px solid #1D1D1D;
  padding: 1em;
  padding: 20px;
}

.hljs {
  border-radius: 10px;
  background-color: #1D1D1D !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
